@notificationPrefixCls: vc-notification;

.@{notificationPrefixCls} {
  // ====================== Notification ======================
  position: fixed;
  z-index: 1000;
  display: flex;
  width: 340px;
  box-sizing: border-box;
  pointer-events: none;
  flex-direction: column;
  padding: 10px;

  // Position
  &-top,
  &-topLeft,
  &-topRight {
    top: 0;
  }

  &-bottom,
  &-bottomRight,
  &-bottomLeft {
    bottom: 0;
  }

  &-bottomRight,
  &-topRight {
    right: 0;
  }

  // ===================== List Content =======================
  &-list-content {
    position: relative;
    display: block;
    width: 100%;
    transition: height 0.3s;
  }

  // ========================= Notice =========================
  &-notice {
    pointer-events: auto;
    position: absolute;
    inset-inline: 0;
    box-sizing: border-box;
    line-height: 1.5;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    border: 0px solid rgba(0, 0, 0, 0);
    transform: translateY(var(--notification-y, 0));
    transition: transform 0.3s, opacity 0.3s;

    // Title
    &-title {
      padding: 7px 30px 0 10px;
      font-weight: 600;
    }

    // Description
    &-description {
      padding: 7px 30px 7px 10px;
    }

    // Section (title + description)
    &-section {
      display: block;
    }

    // Wrapper (icon + section)
    &-wrapper {
      display: flex;
      gap: 8px;
      padding: 7px 30px 7px 10px;
    }

    &-wrapper > &-section,
    &-wrapper > &-title,
    &-wrapper > &-description {
      padding: 0;
    }

    &-icon {
      flex: none;
    }

    // Actions
    &-actions {
      padding: 0 10px 7px;
    }

    // Close
    &-close {
      position: absolute;
      top: 3px;
      right: 5px;
      color: #000;
      font-weight: 700;
      font-size: 16px;
      line-height: 1;
      text-decoration: none;
      text-shadow: 0 1px 0 #fff;
      outline: none;
      cursor: pointer;
      opacity: 0.2;
      border: 0;
      background-color: transparent;

      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }

    // Progress
    &-progress {
      position: absolute;
      left: 3px;
      right: 3px;
      bottom: 0;
      border-radius: 1px;
      overflow: hidden;
      appearance: none;
      -webkit-appearance: none;
      display: block;
      inline-size: calc(100% - 6px);
      block-size: 2px;
      border: 0;

      &,
      &::-webkit-progress-bar {
        background-color: rgba(0, 0, 0, 0.04);
      }

      &::-moz-progress-bar {
        background-color: #31afff;
      }

      &::-webkit-progress-value {
        background-color: #31afff;
      }
    }
  }

  &-fade {
    overflow: hidden;
    transition: all 0.3s;
  }

  &-fade-appear-prepare {
    pointer-events: none;
    opacity: 0 !important;
  }

  &-fade-appear-start {
    transform: translateX(100%);
    opacity: 0;
  }

  &-fade-appear-active {
    transform: translateX(0);
    opacity: 1;
  }

  // ========================= Stack =========================
  &-stack {
    & > .@{notificationPrefixCls}-list-content > .@{notificationPrefixCls}-notice {
      transition: transform 0.3s, opacity 0.3s;

      &:not(.@{notificationPrefixCls}-notice-stack-in-threshold) {
        opacity: 0;
        pointer-events: none;
      }
    }

    &&-expanded {
      & > .@{notificationPrefixCls}-list-content > .@{notificationPrefixCls}-notice {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
